---
import BaseHead from "../components/BaseHead.astro";
import Navigation from "../components/react/navigation";
---

<script>
  import Lenis from "lenis";

  const lenis = new Lenis({ lerp: 0.9 });

  function raf(time: number) {
    lenis.raf(time);
    requestAnimationFrame(raf);
  }

  requestAnimationFrame(raf);
</script>

<html lang="en">
  <head>
    <BaseHead
      title={"Kelsie Murphy | Software Engineer"}
      description={"Kelsie Murphy's Personal Website"}
    />
  </head>
  <body
    class="bg-[#f3f1ee] min-h-screen text-muted-foreground antialiased selection:text-white selection:bg-orange-950"
  >
    <a
      href="#main-content"
      class="sr-only focus:not-sr-only focus:absolute focus:top-2 focus:left-2 focus:bg-orange-950 focus:text-white focus:p-2 focus:rounded focus:z-50"
    >
      Skip to content
    </a>

    <main class="flex justify-center p-6">
      <section class="flex-1 max-w-2xl space-y-16">
        <Navigation path={Astro.url.pathname} />
        <div id="main-content">
          <slot />
        </div>
      </section>
    </main>
  </body>
</html>
