---
import BaseHead from "../components/BaseHead.astro";
---

<!doctype html>
<html lang="en">
	<head>
		<BaseHead title={"Kelsie Murphy | Software Engineer"} description={"Kelsie Murphy's Personal Website"} />
	</head>
	<body class="bg-[#f1ede5] min-h-screen antialiased">
		<slot />
	</body>
</html>
