---
import Name from "../components/react/name";
import SocialLinks from "../components/react/social-links";
import Layout from "../layouts/Layout.astro";
---

<Layout>
  <div class="space-y-4">
    <div
      class="hidden sm:flex items-center justify-between h-28 flex-wrap gap-12"
    >
      <Name client:load />
    </div>
    <div
      class="flex sm:hidden items-center justify-between h-28 flex-wrap gap-12"
    >
      <h1 class="font-nord font-bold text-2xl not-prose text-foreground">
        Kelsie Murphy
      </h1>
    </div>

    <p>
      I'm a front-end developer who loves turning thoughtful design into
      sustainable, accessible digital experiences.
    </p>

    <p>
      Right now, i'm at
      <a class="hover:underline font-semibold" href="https://www.cgi.com/en" target="_blank">
        CGI</a
      >, where I help a major energy company improve its online presence and
      customer communications.
    </p>

    <p>
      Before that, I built web applications with
      <a
        class="hover:underline font-semibold"
        href="https://momentumgroup.com.au/"
        target="_blank"
      >
        The Momentum Group
      </a>
      in Australia, and retrained in software development at
      <a class="hover:underline font-semibold" href="https://codeclan.com/" target="_blank">
        CodeClan
      </a>
      after studying <span class="font-semibold">music education</span> at the University of Aberdeen.
    </p>

    <p>
      I've also contributed to open-source and community projects through the
      <a
        class="hover:underline font-semibold"
        href="https://www.scottishtecharmy.org/"
        target="_blank"
      >
        Scottish Tech Army</a
      >, building React Native apps for causes such as
      <a
        class="hover:underline"
        href="https://apps.apple.com/us/app/sta-volunteers/id1632619020"
        target="_blank"
      >
        STA Volunteers
      </a>
      and
      <a
        class="hover:underline"
        href="https://www.euansguide.com/"
        target="_blank"
      >
        Euan's Guide
      </a>.
    </p>

    <SocialLinks client:only />
  </div>
</Layout>
